/*  your css code here. If applicable */
.grid-container{
	display:grid;
	grid-template-columns:repeat(3,1fr);
	grid-template-rows:repeat(2,1fr);
}
.grid-item{
	height:100px;
	margin:2px;
	background-color:#f2f2f2;
	border:1px solid #ccc;
	text-align:center;
}
